@import url("https://fonts.googleapis.com/css?family=Sofia");

html{
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

body {
    height: 100%;
    margin-bottom: 20px;
    font-family: calibri;
}

ul {
    margin-left: 20px;
}

li {
  padding-bottom: 5px;
}

li a {
    font-size: 1.875em;
    display: block;
    color: #dc91a1;
    padding: 5% 0%;
    text-decoration: none;
}

li a:link {
    display: block;
    color: #dc91a1;
    padding: 5% 0%;
    text-decoration: none;
}

li a.active {
    color: #dc91a1;
    padding: 5% 0%;
    text-decoration: none;
}

li a:visited {
    color: #dc91a1;
    padding: 5% 0%;
    text-decoration: none;
}

li a:hover {
    color: #ffffff;
    padding: 5% 0%;
    text-decoration: none;
} 

.site-title{
    padding-left:20px;
    color: #d44c6e;
    font-size: 1.75em;
}

.site-sub{
    padding-left:20px;
    color: #d44c6e;
    font-size: 1.0em;
} 

.footer{
  font-size: 0.75em;
  width: 100%;
  height: 30px;
  background-color: white;
  position: fixed;
  bottom: 0;
}

.header-top {
  color: #000000;
  background-color: #dc91a1;
  font-family: 'Sofia';
}

.logo {
    margin-bottom: 20px;
    width: 150px;
    height: 71px;
    display: block;
    background: transparent url('ftlogopink.png') center top no-repeat;
}

.owner{
  padding-right: 30px; 
  padding-bottom: 30px;
  display: inline-block;
  float: left;
  clear: both;
}

.wrap{
    width: 165px;
    background-image: url('kiss_lite.png');
    background-repeat: no-repeat;
    background-position: right;
    /*padding-left: 561px;*/
}

.ribbon {
   width: 100%;
   height: 30px;
   position: float;
   text-align: center;
   font-size: 20px!important;
   background: #d44c6e;
   background: -webkit-gradient(linear, left top, left bottom, from(#d44c6e), to(#5c1b24));
   background: -webkit-linear-gradient(top, #d44c6e, #5c1b24);
   background: -moz-linear-gradient(top, #d44c6e, #5c1b24);
   background: -ms-linear-gradient(top, #d44c6e, #5c1b24);
   background: -o-linear-gradient(top, #d44c6e, #5c1b24);
   background-image: -ms-linear-gradient(top, #d44c6e 0%, #5c1b24 100%);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
}

.ribbon-stitches-top {
   margin-top:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}

.sidebar{
    margin: 0;
    width: 15%;
    background-image: url("ft_sidebarbgTILEs.png");
    background-size: 15%;
    background-repeat: repeat-y;
    background-position: left top;
    background-attachment: fixed;
    position: fixed;
    top: 33px;
    height: 100%;
    overflow: auto;
    margin-bottom: 25px;
    font-family: 'Sofia';
}

.social-fb {
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    display: block;
    background: transparent url('roseFB.png') center top no-repeat;
}
.social-fb:hover{
    background-image: url('whiteFB.png');
}

.category{
  font-size: 1.6em;
}

.hline{
  width: 100%;
  height:4px;
  background: #d1d1d1;
  margin-bottom: 20px;
}

.home {
  width: 65%;
}

.home-text{
  padding-top: 30px;
  margin: 0px 140px;
}

.about{

}

.products{
    margin-right: 10%;
}

.carousel-control-prev-icon {
   
}

.carousel-control-next-icon {
  
}

.carousel-indicators .active{
  background-color: rgb(255, 102, 153);
}
.carousel-indicators li{
  background-color: rgba(255, 179, 204, .45);
}

.main-content{
    margin-top: 3%;
    margin-left: 20%;
    font-size: 1.4em; 
}

.main-content a:link{
    color: #ff0066;
    text-decoration: none;
}

.main-content a:visited{
    color: #b30047;
    text-decoration: none;
}

.main-content a:hover{
    color: #ff4d94;
    text-decoration: none;
}

/* Dropdown Button */
.dropbtn {
  text-decoration: none;
}


/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: transparent;
    text-decoration: none;
    color: #ffffff;
}

.dropbtn:link, .dropbtn:visited {
    background-color: transparent;
    text-decoration: none;
    color: #dc91a1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (hidden until click) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #b30047;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

/* Show the dropdown menu via JS */
.show {display:block;}

/*Media Queries, DO NOT TOUCH*/

@media (max-width: 736px) {
  .sidebar{
    width: 24%;
    background-size: 24%; 
  }
  
}

@media (min-width: 768px) {
  .about-text{
    display: inline-block;
    float: right;
    clear: both;
  }
  .about-image{
    clear: both;
  }
}
