<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="Flawlessly Taboo description" name="description">
	<title>Flawlessly Taboo</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/ft_style.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/ng-animation.css">
  <link rel="stylesheet" type="text/css" href="css/lightgallery.css">
</head>
<body ng-app="tabooApp">
<div class="header-top fixed-top"> 
	<div class="ribbon">
    <a ui-sref="home" class="mobilelog" alt="Flawlessly Taboo Logo"></a>
    <p class="mobile-title">Flawlessly Taboo</p>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-label="Toggle navigation"><i class="fa fa-2x fa-bars" aria-hidden="true"></i></button>
    <div class="ribbon-stitches-top"></div>
    <div class="ribbon-stitches-bottom"></div>
      <!-- Links -->
      <div class="navbar-collapse collapse" aria-expanded="false" id="nav-content"> 
        <nav id="mobileNav" class="navbar-toggleable-xl navbar-light bg-faded">  
        <ul class="navbar-nav">
          <li><a ui-sref="home" ui-sref-active="active">Home</a></li>
          <li><a ui-sref="about" ui-sref-active="active">About Us</a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true">Products</a>
          <div class="dropdown-menu">
            <a ui-sref="boxer" ui-sref-active="active">Boxers</a>          
            <a ui-sref="bras" ui-sref-active="active">Bras</a>
            <a ui-sref="cheeky" ui-sref-active="active">Cheeky</a>
            <a ui-sref="fullcut" ui-sref-active="active">Full Cut</a>
            <a ui-sref="gaff" ui-sref-active="active">Gaff</a>    
            <a ui-sref="gstring" ui-sref-active="active">G-String</a>                    
            <a ui-sref="lowrise" ui-sref-active="active">Low Rise</a>
            <a ui-sref="peekaboos" ui-sref-active="active">Peekaboo</a>            
            <a ui-sref="sets" ui-sref-active="active">Sets</a>
            <a ui-sref="sissy" ui-sref-active="active">Sissy</a>
            <a ui-sref="thongs" ui-sref-active="active">Thongs</a>
          </div>
          </li>
          <li><a ng-click="reloadRoute()" ui-sref="checkout" ui-sref-active="active">My Cart</a></li>
        </ul>
        </nav>
    </div>
    <div class="cart">
      <span class="cIcon fa fa-shopping-cart" aria-hidden="true"></span>
      <div class="upper_quantity simpleCart_quantity"></div>
      <div class="upper_total simpleCart_total"></div>
      <a href="javascript:;" class="simpleCart_empty">Empty Cart</a>
    </div>
  </div>
</div>
<nav id="desknav">
<div class="container-fluid sidebar nav-wrapper">
  <a ui-sref="home" class="logo img-fluid" alt="Flawlessly Taboo Logo"></a>
  <p class="site-title">Flawlessly Taboo</p>
  <p class="site-sub">A Luxury Lingerie Boutique</p>
  <br>
	<ul class="list-unstyled navigation">
  		<li><a ui-sref="home" ui-sref-active="active">Home</a></li>
  		<li><a ui-sref="about" ui-sref-active="active">About Us</a></li>
  		<li>
  			<div class="dropdown">
  				<a href="javascript:void(0)" onclick="prodFunction()" class="dropbtn">Products</a>
  				<div id="products" class="dropdown-content">
            <a ui-sref="boxer" ui-sref-active="active">Boxers</a>          
  					<a ui-sref="bras" ui-sref-active="active">Bras</a>
  					<a ui-sref="cheeky" ui-sref-active="active">Cheeky</a>
  					<a ui-sref="fullcut" ui-sref-active="active">Full Cut</a>
            <a ui-sref="gaff" ui-sref-active="active">Gaff</a>    
            <a ui-sref="gstring" ui-sref-active="active">G-String</a>                    
  					<a ui-sref="lowrise" ui-sref-active="active">Low Rise</a>
            <a ui-sref="peekaboos" ui-sref-active="active">Peekaboo</a>            
  					<a ui-sref="sets" ui-sref-active="active">Sets</a>
            <a ui-sref="sissy" ui-sref-active="active">Sissy</a>
  					<a ui-sref="thongs" ui-sref-active="active">Thongs</a>
  				</div>
        </li>
        <li><a ng-click="reloadRoute()" ui-sref="checkout" ui-sref-active="active">My Cart</a></li>
  		  <li><a href="https://www.facebook.com/FlawlesslyTaboo1/" class="social-fb" alt="Our Facebook Page"></a></li>
   </ul>
</div>
</nav>

<div class="main-content home container-fluid" ng-controller="itemCtrl">
  
  <ui-view></ui-view>

	<div class="footer container">
		<span class="text-muted">Copyright Flawlessly Taboo 2017.</span>
		<span><a href="mailto:kristina@flawlesslytaboo.com">Contact Us</a></span>
		<span><a href="documents/terms.pdf" target="_blank">Terms of Agreement</a></span>
	</div>

</div>
</body>
<script src="js/angular.min.js"></script>
<script src="js/angular-ui-router.min.js"></script>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/simpleCart.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/lightgallery.min.js"></script>
<script src="js/index.js"></script>
</html>