 	<div class="row justify-content-center container-fluid">
	        <h3 class="category">Bras</h3>
        <div class="hline"></div>

	<div class="product-container">
        <div class="row">
                <div class="col-md-3"><img src="img/ProductImg/Bras/Adorable Hearts Bra.jpg" class="img-thumbnail img-responsive" alt="Adorable Hearts Bra">Adorable Hearts Bra<p class="text-muted">$29.99</p></div>
                <div class="col-md-3"><img src="img/ProductImg/Bras/Black And Red Bra.jpg" class="img-thumbnail img-responsive" alt="Black and Red Bra">Black and Red Bra<p class="text-muted">$29.99</p></div>
                <div class="col-md-3"><img src="img/ProductImg/Bras/Daisy Bra.jpg" class="img-thumbnail img-responsive" alt="Daisy Bra">Daisy Bra<p class="text-muted">$29.99</p></div>
                <div class="col-md-3"><img src="img/ProductImg/Bras/Fish Bra.jpg" class="img-thumbnail img-responsive" alt="Fish Bra">Fish Bra<p class="text-muted">$29.99</p></div>
        </div>
        <div class="row">
                <div class="col-md-3"><img src="img/ProductImg/Bras/Red and Black Bra.jpg" class="img-thumbnail img-responsive" alt="Red and Black Bra">Red and Black Bra<p class="text-muted">$29.99</p></div>
                <div class="col-md-3"><img src="img/ProductImg/Bras/Shiny Pink Bra.jpg" class="img-thumbnail img-responsive" alt="Shiny Pink Bra">Shiny Pink Bra<p class="text-muted">$29.99</p></div>
                <div class="col-md-3"><img src="img/ProductImg/Bras/Sunflower Bra.jpg" class="img-thumbnail img-responsive" alt="Sunflower Bra">Sunflower Bra<p class="text-muted">$29.99</p></div>
                <div class="col-md-3"><img src="img/ProductImg/Bras/Swedish Fish Bra.jpg" class="img-thumbnail img-responsive" alt="Swedish Fish Bra">Swedish Fish Bra<p class="text-muted">$29.99</p></div>
        </div>
        <div class="row">
                <div class="col-md-3"><img src="img/ProductImg/Bras/Watercolor Bra.jpg" class="img-thumbnail img-responsive" alt="Watercolor Bra">Watercolor Bra<p class="text-muted">$29.99</p></div>
        </div>    
   </div>
