<div class="row justify-content-center container-fluid">
	<h3 class="category">Your Cart</h3>
    <div class="hline"></div>
	<div class="product-container">

        <!-- button to empty the cart -->
        <a href="javascript:;" class="simpleCart_empty">Empty Cart</a>
        <!-- show the cart -->
        <div class="simpleCart_items"></div>
        <!-- cart total (ex. $23.11)-->
        <div class="simpleCart_total"></div>
        <!-- cart quantity (ex. 3) -->
        <div class="simpleCart_quantity"></div>
        <!-- tax cost (ex. $1.38) -->
        <!-- <div class="simpleCart_tax"></div> -->
        <!-- tax rate (ex. %0.6) -->
        <!-- <div class="simpleCart_taxRate"></div> -->
        <!-- shipping (ex. $5.00) -->
        <!-- <div class="simpleCart_shipping"></div> -->
        <!-- grand total, including tax and shipping (ex. $28.49) -->
        <div class="simpleCart_grandTotal"></div>

        <!-- create a checkout button -->
        <a href="javascript:;" class="simpleCart_checkout">Checkout</a>
   </div>
</div>