<div class="row justify-content-center container-fluid">
	<h3 class="category">Your Cart</h3>
    <div class="hline"></div>
	<div class="product-container">

        <!-- button to empty the cart -->
        <a href="javascript:;" class="simpleCart_empty">Empty Cart</a>
        <!-- show the cart -->
        <div class="simpleCart_items"></div>
        <!-- cart total (ex. $23.11)-->
        <div class="totals form-group">
            <label for="total" class="checkout">Net Price</label>
            <div id="total" class="checkout-num form-control simpleCart_total"></div>
            <!-- cart quantity (ex. 3) -->
            <label for="quantity" class="checkout">Number of Items</label>
            <div id="quantity" class="checkout-num form-control simpleCart_quantity"></div>
            <!-- tax cost (ex. $1.38) -->
            <label for="tax" class="checkout">Tax</label>
            <div id="tax" class="checkout-num form-control simpleCart_tax"></div>
            <!-- tax rate (ex. %0.6) -->
            <!-- <div class="simpleCart_taxRate"></div> -->
            <!-- shipping (ex. $5.00) -->
            <label for="shipping" class="checkout">Shipping</label>
            <div id="shipping" class="checkout-num form-control simpleCart_shipping"></div>
            <!-- grand total, including tax and shipping (ex. $28.49) -->
            <label for="gTotal" class="checkout">Grand Total</label>
            <div id="gTotal" class="checkout-num form-control simpleCart_grandTotal"></div>
        </div>
        <div class="check-btn">
             <!-- create a checkout button -->
            <button class="btn purchase"><a href="javascript:;" class="simpleCart_checkout">Checkout</a></button>
        </div>
        
   </div>
</div>