<div class="row justify-content-center container-fluid">
	        <h3 class="category">Full Cut</h3>
        <div class="hline"></div>

	<div class="product-container">
        <div class="row">
                <div class="col-md-3"><img src="img/ProductImg/Full-Cut/Red and Black.jpg" class="img-thumbnail img-responsive" alt="Red and Black">Red and Black<p class="text-muted">$24.99</p></div>
        </div>
            
   </div>
  </div>
	<div class="footer container">
		<span class="text-muted">Copyright Flawlessly Taboo 2017.</span>
		<span><a href="mailto:flawlesslytaboo@gmail.com">Contact Us</a></span>
		<span><a href="terms.pdf" target="_blank">Terms of Agreement</a></span>
</div>