<div class="row justify-content-center container-fluid">
	        <h3 class="category">G-Strings</h3>
        <div class="hline"></div>

	<div class="product-container">
        <div class="row" ng-controller="itemCtrl">
                <div class="col-md-4" ng-repeat="gstring in gstrings">
                    <img src="{{ gstring.img }}" class="img-thumbnail img-responsive" alt="{{ gstring.name }}">

                 <div class="col-md-6 simpleCart_shelfItem cartDiv" style="padding-left:0px;">
                    <p class="item_name">{{ gstring.name }}</p>
                    <p class="text-muted item_price">{{ gstring.price }}</p>
                        <h4>Select Size</h4>
                        <select class="item_size">
                            <option value="Small"> Small </option>
                            <option value="Medium"> Medium </option>
                            <option value="Large"> Large </option>
                            <option value="X-Large"> X-Large </option>
                            <option value="2X"> 2X </option>
                            <option value="3X"> 3X </option>
                            <option value="4X"> 4X </option>
                            <option value="5X"> 5X </option>
                        </select>
                        <h4>Quantity</h4>
                        <input type="text" value="1" class="item_Quantity">
                        <span class="item_price"></span><br/>
                        <a class="item_add" href="javascript:;"> Add to Cart </a>
                    </div>                
                </div>
        </div>   
   </div>
</div>