<!-- Modal -->
<div class="modal fade" id="tabooModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">PRODUCT TITLE</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="col-md-6 simpleCart_shelfItem">
                <h2>Select Size</h2>
                <select class="item_size">
                    <option value="Small"> Small </option>
                    <option value="Medium"> Medium </option>
                    <option value="Large"> Large </option>
                </select>
                <h2>Quantity</h2>
                <input type="text" value="1" class="item_Quantity">
                <span class="item_price"></span><br/>
                <a class="item_add" href="javascript:;"> Add to Cart </a>
            </div>
        </div>
        </div>
        </div>
</div>