<div class="row justify-content-center container-fluid">
    <h3 class="category">Split-Back</h3>
  <div class="hline"></div>

	<div class="product-container">
        <div class="row" ng-controller="itemCtrl">
                <div class="col-md-3" ng-repeat="split in splitbacks">
                    <img src="{{ split.img }}" class="img-thumbnail img-responsive" alt="{{ split.name }}">
                    <p>{{ split.name }}</p>
                    <p class="text-muted">{{ split.price }}</p>
                </div>
        </div>          
   </div>
</div>
