<div class="row justify-content-center container-fluid">
    <h3 class="category">Split-Back</h3>
  <div class="hline"></div>

	<div class="product-container">
        <div class="row">
                <div class="col-md-3"><img src="img/ProductImg/Split-Back/Adorable Hearts Back.jpg" class="img-thumbnail img-responsive" alt="Adorable Hearts">Adorable Hearts<p class="text-muted">$24.99</p></div>
                <div class="col-md-3"><img src="img/ProductImg/Split-Back/English Garden Back.jpg" class="img-thumbnail img-responsive" alt="English Garden">English Garden<p class="text-muted">$24.99</p></div>
                <div class="col-md-3"><img src="img/ProductImg/Split-Back/Fishy Back.jpg" class="img-thumbnail img-responsive" alt="Fishy">Fishy<p class="text-muted">$24.99</p></div>
                <div class="col-md-3"><img src="img/ProductImg/Split-Back/Midnight Garden Back.jpg" class="img-thumbnail img-responsive" alt="Midnight Garden">Midnight Garden<p class="text-muted">$24.99</p></div>
        </div>
        <div class="row">
                <div class="col-md-3"><img src="img/ProductImg/Split-Back/Paisley Passion Back.jpg" class="img-thumbnail img-responsive" alt="Paisley Passion">Paisley Passion<p class="text-muted">$24.99</p></div>
                <div class="col-md-3"><img src="img/ProductImg/Split-Back/Roller Skates Back.jpg" class="img-thumbnail img-responsive" alt="Roller Skates">Roller Skates<p class="text-muted">$24.99</p></div>
                <div class="col-md-3"><img src="img/ProductImg/Split-Back/Shiny Pink Back.jpg" class="img-thumbnail img-responsive" alt="Shiny Pink">Shiny Pink<p class="text-muted">$24.99</p></div>
                <div class="col-md-3"><img src="img/ProductImg/Split-Back/Spring Flowers Back.jpg" class="img-thumbnail img-responsive" alt="Spring Flowers">Spring Flowers<p class="text-muted">$24.99</p></div>
        </div>           
   </div>
</div>
